<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1472.ve4d5eca_143c4">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2218.v56d0cda_37c72"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2218.v56d0cda_37c72">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4000.v5198556e9cea_">
    <script>pipeline {
    agent any

    stages {
        stage(&apos;Preparar entorno&apos;) {
            steps {
                echo &apos;Preparando entorno...&apos;
                script {
                    // Instalar dependencias del proyecto
                    sh &apos;docker exec libreria-app-php-1 composer install --no-interaction --prefer-dist --optimize-autoloader&apos;
                    // Generar clave de la aplicación si no existe
                    sh &apos;docker exec libreria-app-php-1 php artisan key:generate&apos;
                    // Migrar la base de datos
                    sh &apos;docker exec libreria-app-php-1 php artisan migrate:fresh --seed&apos;
                }
            }
        }

        stage(&apos;Correr pruebas unitarias&apos;) {
            steps {
                echo &apos;Corriendo pruebas unitarias...&apos;
                script {
                    sh &apos;docker exec libreria-app-php-1 php artisan test&apos;
                }
            }
        }

        stage(&apos;Correr pruebas Dusk&apos;) {
            steps {
                echo &apos;Corriendo pruebas Dusk...&apos;
                script {
                    sh &apos;docker exec libreria-app-php-1 php artisan dusk&apos;
                }
            }
        }
    }

    post {
        always {
            echo &apos;Limpiando entorno...&apos;
            script {
                sh &apos;docker exec libreria-app-php-1 php artisan config:clear&apos;
                sh &apos;docker exec libreria-app-php-1 php artisan cache:clear&apos;
            }
        }
        success {
            echo &apos;Pipeline ejecutado con éxito.&apos;
        }
        failure {
            echo &apos;El pipeline falló.&apos;
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>